<?xml version="1.0"?>
<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="SlmMail tests">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
