<?php
/**
 * SlmMail Amazon SES Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$amazonSesTransport = array(
    /**
     * Hostname for your Amazon SES Email Service Provider server
     * 
     * Normally, " https://email.us-east-1.amazonaws.com" should be good
     */
    'host' => 'https://email.us-east-1.amazonaws.com',
    
    /**
     * Access key for Amazon SES Email Service Provider
     */
    'access_key' => '',
    
    /**
     * Security key for Amazon SES Email Service Provider
     */
    'secret_key' => '',
);

/**
 * You do not need to edit below this line
 */
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'amazon-ses-transport' => 'SlmMail\Mail\Transport\AmazonSes',
                'amazon-ses-service'   => 'SlmMail\Service\AmazonSes',
            ),
            'amazon-ses-transport' => array(
                'parameters' => array(
                    'service' => 'amazon-ses-service',
                ),
            ),
            'amazon-ses-service' => array(
                'parameters' => array(
                    'host'       => $amazonSesTransport['host'],
                    'access_key' => $amazonSesTransport['access_key'],
                    'secret_key' => $amazonSesTransport['secret_key'],
                ),
            ),
        ),
    ),
);