<?php
/**
 * SlmMail SendGrid Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$sendGridTransport = array(
    /**
     * Username key for SendGrid Email Service Provider
     */
    'username' => '',
    
    /**
     * Password for SendGrid Email Service Provider
     */
    'password' => '',
);

/**
 * You do not need to edit below this line
 */
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'sendgrid-transport' => 'SlmMail\Mail\Transport\SendGrid',
                'sendgrid-service'   => 'SlmMail\Service\SendGrid',
            ),
            'sendgrid-transport' => array(
                'parameters' => array(
                    'service' => 'sendgrid-service',
                ),
            ),
            'sendgrid-service' => array(
                'parameters' => array(
                    'username' => $sendGridTransport['username'],
                    'password' => $sendGridTransport['password'],
                ),
            ),
        ),
    ),
);