<?php
/**
 * SlmMail Mailchimp Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$mailchimpTransport = array(
    /**
     * API key for Mailchimp Email Service Provider
     */
    'api_key' => ''
);

/**
 * You do not need to edit below this line
 */
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'mailchimp-transport' => 'SlmMail\Mail\Transport\Mailchimp',
                'mailchimp-service'   => 'SlmMail\Service\Mailchimp\Sts',
            ),
            'mailchimp-transport' => array(
                'parameters' => array(
                    'service' => 'mailchimp-service',
                ),
            ),
            'mailchimp-service' => array(
                'parameters' => array(
                    'api_key' => $mailchimpTransport['api_key'],
                ),
            ),
        ),
    ),
);