<?php
/**
 * SlmMail Postage Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$postageTransport = array(
    /**
     * API key for Postage Email Service Provider
     */
    'api_key' => ''
);

/**
 * You do not need to edit below this line
 */
$config = array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'postage-transport' => 'SlmMail\Mail\Transport\Postage',
                'postage-service'   => 'SlmMail\Service\Postage',
            ),
            'postage-transport' => array(
                'parameters' => array(
                    'service' => 'postage-service',
                ),
            ),
            'postage-service' => array(
                'parameters' => array(
                    'api_key' => $postageTransport['api_key'],
                ),
            ),
        ),
    ),
);

return array(
    'development' => $config,
    'production'  => $config,
    'staging'     => $config,
    'testing'     => $config,
);