<?php
/**
 * SlmMail Postmark Configuration
 *
 * If you have a ./configs/autoload/ directory set up for your project, you can 
 * drop this config file in it and change the values as you wish.
 */
$postmarkTransport = array(
    /**
     * API key for Postmark Email Service Provider
     */
    'api_key' => ''
);

/**
 * You do not need to edit below this line
 */
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'postmark-transport' => 'SlmMail\Mail\Transport\Postmark',
                'postmark-service'   => 'SlmMail\Service\Postmark',
            ),
            'postmark-transport' => array(
                'parameters' => array(
                    'service' => 'postmark-service',
                ),
            ),
            'postmark-service' => array(
                'parameters' => array(
                    'api_key' => $postmarkTransport['api_key'],
                ),
            ),
        ),
    ),
);