<?php

return array(
    'slm_mail' => array(
        /**
         * Test mode
         * If true, the system wont send any emails.
         */
        // 'test_mode' => 'false',

        'alpha_mail' => array(
            /**
             * Set your AlphaMail API key
             */
            // 'key' => '',
        )
    )
);
