<?php

return array(
    'slm_mail' => array(
        /**
         * Test mode
         * If true, the system wont send any emails.
         */
        // 'test_mode' => 'false',

        'mailgun' => array(
            /**
             * Set your Mailgun domain name (eg. mydomain.com)
             */
            // 'domain' => '',

            /**
             * Set your Mailgun API key
             */
            // 'key' => ''
        )
    )
);
