<?php

return array(
    'slm_mail' => array(
        'elastic_email' => array(
            /**
             * Set your Elastic Email username
             */
            // 'username' => '',

            /**
             * Set your Elastic Email API key
             */
            // 'key' => '',
        )
    )
);
