<?php

return array(
    'slm_mail' => array(
        /**
         * Test mode
         * If true, the system wont send any emails.
         */
        // 'test_mode' => 'false',

        'postage' => array(
            /**
             * Set your Postage API key
             */
            // 'key' => ''
        )
    )
);
